NODE_ENV=development
SESSION_SECRET=nextart

FRONTEND_URL=http://localhost:3000

STORAGE_ROOT=./storage
STORAGE_HOST=localhost
STORAGE_PORT=3001
STORAGE_URL=http://localhost:3001

MYSQL_DATABASE_URL=
