NODE_ENV=development
SESSION_SECRET=nextart

FRONTEND_URL=http://localhost:3000
GEMINI_API_KEY=

STORAGE_ROOT=./storage
STORAGE_HOST=localhost
STORAGE_PORT=3001
STORAGE_URL=http://localhost:3001

PG_DATABASE_URL=